[2021-05-15 17:40] rijenkii commented on #425
For the record, it is possible to install `xinetd` from [Fedora 33 rpm](https://fedora.pkgs.org/33/fedora-x86_64/xinetd-2.3.15-34.fc33.x86_64.rpm.html).

[2021-05-15 18:48] Sebastian-Roth commented on #425
@rijenkii Thanks for reporting this issue. About `openssl`: Seems like we have not noticed that because all minimal installs of the other distros still come with openssl. We might add that to the default packages list of the installer.

Now for `xinetd`... It's very hard to keep up with the changes made in all the distros we try to support. Fedora is not high on the list and so we haven't run into

[2021-05-15 18:49] Sebastian-Roth commented on #425
Whoops, didn't want to close this right away.

[2021-05-15 19:04] Sebastian-Roth commented on #425
Dependency to `openssl` added in a141d1014 and 7e591a54f

[2021-05-15 19:55] Sebastian-Roth opened #426 "[working-1.6] Correct for schema divergence to dev-branch"
The `dmidecodeKeys` table ([see here](https://github.com/FOGProject/fogproject/blob/working-1.6/packages/web/commons/schema.php#L3786)) is missing if you update from dev-branch to working-1.6 but it does exist on a fresh working-1.6 install.

Also in the `multicastSessions` table we seem to have a difference between upgrade (dev-branch to working-1.6) and a fresh working-1.6 install. Column rename

[2021-05-16 16:23] Sebastian-Roth commented on #421
@MikeRavenelle Sorry for the late response. Depending on the fragmentation of your data I can imagine that the default free space FOS keeps when shrinking (CAPTURERESIZEPCT) can cause an issue. We use the external tool nftsresize and there is not much we can do about it. As long as you are able to do the capture by increasing the percentage.

[2021-05-16 16:23] #421 closed

[2021-05-16 16:24] #400 closed

[2021-05-16 16:25] #388 closed

[2021-05-17 14:23] cyrmoon opened #427 "could not mount images folder /bin/fog.download"
hello, I had this mesage when i tried to apply a images on a pc. "could not mount images folder /bin/fog.download" So I reinstall a other fog with the export database and the images folder, but i have this message again.
I tried with debian 8 and 10 same result.
Any idea? Sorry if it was a precedent issue.

[2021-05-17 17:16] Sebastian-Roth commented on #427
@cyrmoon In the error message you see an IP address. First make sure this is the correct IP address of your FOG server.

Do you have FOG installed on hardware or in a VM setup? I ask because with some environments (e.g. Proxmox) you need to do extra steps to enable NFS, which is used by FOG.

Are FOG server and the machine you want to deploy to in the same network subnet? Is there a firewall in be

[2021-05-18 06:23] cyrmoon commented on #427
hello, It' a fog installed as a vm on proxmox; i have ip address (the ip addresses given by the dhcp server), the message is "XX.XX.XX.242:/images on images failed; Connection Timed out

All machines are on the same subnet, there is a fortigate on the network (but its worked before), and debian firewall is disabled.

![IMG_20210518_081848](https://user-images.githubusercontent.com/34964168/1186016

[2021-05-18 20:39] Sebastian-Roth commented on #427
@cyrmoon Is 172.19.75.242 your FOG server IP?

You mention proxmox. Did you look into the extra steps you need to take to make NFS work in proxmox??

[2021-05-18 20:39] #425 closed

[2021-05-19 06:15] cyrmoon commented on #427
No because it worked before, and fog was already on proxmox. But i ll see.

[2021-05-19 11:28] Sebastian-Roth commented on #427
@cyrmoon The project you linked does not have anything to do with the FOG project we discuss here. Just a coincidence they use the same name as we do.

I have not used Proxmox myself in a long time. It used to be easier getting NFS to work but with newer versions it seems troublesome. It also depends on if you use OpenVZ or LXC. We have gathered information about this in the [Wiki](https://wiki.fo

[2021-05-19 13:19] cyrmoon commented on #427
i ll take a look thnks.

[2021-06-02 00:48] smonaica opened #429 "Current stable release (1.5.9) fails to install on Debian 11 (bullseye)"
The OS-detection code in the installer does not recognize Debian 11 ("bullseye"), and so the installation fails on bullseye.

The issues appear to be two-fold:
1. The installer does not know about Debian version 11, so it does not know that PHP on bullseye is version 7.4. So many PHP packages fail to install.
2. Debian 11 no longer has the `php-gettext` package in its repository. The package `php-

[2021-06-02 05:14] Sebastian-Roth commented on #429
@smonaica Thanks for bringing this up and sending the pull request!

Currently we work in the branch called `dev-branch` to add this kind of fixes. @mastacontrola pushed some fixes to account for the gettext changes on Ubuntu in early May: https://github.com/FOGProject/fogproject/commits/dev-branch/lib/common

May I ask you to try out `dev-branch` and use that as a starting poing?

[2021-06-03 03:08] smonaica commented on #429
Ok, I tried out the `dev-branch`. It looks like the commit from @mastacontrola has fixed the issue.

[2021-06-04 13:00] Sebastian-Roth commented on #429
@smonaica Thanks again for bringing this up! Please let us know if you find other issues.

The FOG project is actually looking for people to help: https://forums.fogproject.org/topic/15371/fog-project-call-for-engagement

Looking forward to see you around!

[2021-06-04 13:00] #429 closed

[2021-06-11 11:26] SimoleS opened #430 "Unable to deploy Image"
Hello guys, I'm trying to find a problem with this error last few days, but Im unable to find anything.
### Description
While trying to deploy the image. Particlone will throw an error **zstd: /*stdin*\ unsupported format read image hdr error=0** and exit code is **1 (writeImage)**

Thank you.

[2021-06-11 18:06] Sebastian-Roth commented on #430
@SimoleS Which version of FOG do you use? Did you capture the image with this or an older version? Which compression algorithm is selected in the settings of this particular image you are trying to deploy?

[2021-06-14 07:42] SimoleS commented on #430
@Sebastian-Roth We are using the latest version 1.5.9 and the image was taken with the latest version too. Regarding selected algorithm option is set to **Particlone zstd**.

[2021-06-14 08:04] SimoleS commented on #430
@Sebastian-Roth Little Update. I tried every option in Image Manager, and nothing worked.  Mostly I got **skipping stdin unrecognized format**

[2021-06-14 11:15] Sebastian-Roth commented on #430
@SimoleS Are you sure you have not changed from Zstd to Gzip or vice versa after capturing the image?

Please run the following command on your FOG server console/terminal/SSH and post results here:
[code]
Instead of `IMAGENAME` put in the name of the image you want to deploy. This should tell us which compression algorithm was used to capture this image.

[2021-06-14 11:56] SimoleS commented on #430
@Sebastian-Roth Here is output of command:

`d1p1.img: Zstandard compressed data (v0.8+), Dictionary ID: None
d1p2.img: data
d1p3.img: Zstandard compressed data (v0.8+), Dictionary ID: None
d1p4.img: data`

[2021-06-14 19:35] Sebastian-Roth commented on #430
@SimoleS Intersting, the image file for partition one and three seem to be proper Zstd compressed files. Not so for partition two and four. So I guess it deploys the first partition (`/dev/sda1`) correct but then fails on the second one.

I don't think I have seen this happen ever before. I suggest you first check there is enough free space on that drive by running the command `df -h`. Then create

[2021-06-20 08:38] Sebastian-Roth commented on #430
@SimoleS Is there anything we can help you with or did you get this solved?

[2021-06-22 08:42] georgschoelly commented on #422
I think this might be an incomplete fix.

**First,** the filename:

I had a look at a fresh Ubuntu 18.04+Apache installation and found the following in `/etc/apache2/mods-enabled/php7.2.conf`:

[code]

So, in addition to `.php` the same RCE works with `.phar` and `.phtml`. I am also pretty sure I have seen `.php5` etc. before.

I guess using randomly-generated names is not easily possible. But is

[2021-06-24 02:09] SimoleS commented on #430
@Sebastian-Roth Yes, sorry for my inactivity. Our cluster was in a bad state, so some files were wrongly synchronized, and files were corrupted.

We weren't able to restore some Images.

Thank you for your assistance.

I'm closing this ticket.

[2021-06-24 02:09] #430 closed

[2021-06-24 20:37] bristow opened #432 "[dev-branch] Login page still in English"
As I said on [this thread](https://forums.fogproject.org/post/143757) on the forum, the login page for the FOG interface is always in English, even if you change languages.

This page :

![Login page](https://forums.fogproject.org/assets/uploads/files/1624309677495-s%C3%A9lection_796.png)

No problem with the stable version 1.5.9.

@Sebastian-Roth thinks it comes from these commits :

- https://gi

[2021-06-25 13:24] mastacontrola commented on #432
The default language is defined by the database entry. So, when you change your language from English to French in the Login UI, it's not going to change how the text is displayed until after login.

If you set the default language to french, for example, then when you log off, it should be in french as it's using that default database entry.

[2021-06-25 15:38] bristow commented on #432
In fact, I don't have this behavior. I made a little anim gif :

![fog_locale_pb](https://user-images.githubusercontent.com/1156507/123449541-13677200-d5dc-11eb-814a-62e01a597f20.gif)

[2021-06-27 12:07] Sebastian-Roth commented on #432
@mastacontrola Thanks for looking into this and fixing it.

@bristow Please test the latest dev-branch version and let us know.

[2021-06-27 13:23] bristow commented on #432
Thanks @mastacontrola  for the work on the translation.

It's better but still not perfect.

Concerning the login page, I have to do an F5 to get back to French after a disconnection. Look at this animation:

![fog_locale_pb2](https://user-images.githubusercontent.com/1156507/123546072-70d5fd00-d75b-11eb-985c-69c2f1285273.gif)

If it's too complicated to correct, it's not serious.

Concerning the

[2021-06-28 08:53] fredericpetit02 opened #433 "installation error on debian 11 bullseyes"
Hello,

FOG try to install php-gettext but on debian 11 it's php-php-gettext. Manual installation of php-gettext from debian 10 resolve temporary the issue.

[2021-06-28 13:03] mastacontrola commented on #432
Waht do you mean? The menu's should be translated. Similarly, the login page should be translated as well. There's some minor tweaks I can do to try to fix this entirely, but they're not simple.

[2021-06-28 13:35] mastacontrola commented on #432
I have updated so any of the `_( )` strings should now be translated properly. Not all items are translated because a lot of strings lie within the database itself. Not all the strings in the database are on the messages.po because of this. I would love to move all strings to a single file, but it does mean a lot of work to pull those fields out of each of the tables and into a single location, as

[2021-06-28 15:19] bristow commented on #432
Thanks for the last correction. The login page is now always in French :+1:  And we can close this issue if you want.

Concerning the menus, here are 2 weird things:

This menu is not translated (it is the only one), I think some strings must be missing _( ) :

![Sélection_999(017)](https://user-images.githubusercontent.com/1156507/123660709-2ffde700-d834-11eb-8d7a-5d5b090a628b.png)

Then, I don't

[2021-06-28 20:34] Sebastian-Roth commented on #433
@fredericpetit02 This is a known issue in FOG 1.5.9 - please use the latest `dev-branch` version on Debian 11. Find more details here: https://github.com/FOGProject/fogproject/issues/429

[2021-06-28 20:34] #433 closed

[2021-06-28 20:35] Sebastian-Roth commented on #427
@cyrmoon Anything we can still help you with or can we close the issue?

[2021-06-29 16:15] cyrmoon commented on #427
Yes u can, it was in fact the Switch which had a sécurity configuration that block pxe.

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: Sebastian-Roth ***@***.***>
Sent: Monday, June 28, 2021 10:35:13 PM
To: FOGProject/fogproject ***@***.***>
Cc: cyrmoon ***@***.***>; Mention ***@***.***>
Subject: Re: [FOGProject/fogproject] could not mount images f

[2021-06-30 16:25] bristow opened #435 "[dev-branch][l10n] Main menus are not adapted to the French language"
To explain, I take three examples:

![Sélection_806](https://user-images.githubusercontent.com/1156507/123996174-5a37dc00-d9cf-11eb-94fb-2b732d10517b.png)
we should have :

- Lister tous les utilisateurs
- Créer un **nouvel** utilisateur

![Sélection_807](https://user-images.githubusercontent.com/1156507/123996192-5dcb6300-d9cf-11eb-9bdb-5def2c692556.png)

- Lister **toutes** les machines
- Créer

[2021-07-01 13:54] osxhu opened #436 "Fog1.5.9, the php-fpm.service service exited abnormally and could not be started"
**OS / Environment**
System vesion:Centos 7.9

**Fog version**：fog v1.5.9

**Installation method**:
use git command to pull package, and execute install script in Bin folder

**Problems encountered:**
php-fpm.service failed.: Process: 6418 ExecStart=/usr/local/php/sbin/php-fpm --nodaemonize --fpm-config /usr/local/php/etc/php-fpm.conf (code=exited, status=203/EXEC)

**Problem report summary:**
Dur

[2021-07-02 07:57] #436 closed

[2021-07-02 15:28] #427 closed

[2021-07-04 11:43] eduardotseoane opened #437 "[Workin-1.6] Column missing table_id=multicast-sessions-table"
Hi, I recently do a fresh install of workin-1.6, it was install 5 min ago, and i have the message error at the end of this message.

DataTables warning: table id=multicast-sessions-table - An SQL error occurred: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'msShutdown' in 'field list'SQL: SELECT `msID`,`msName`,`msName`,`msBasePort`,`msLogPath`,`msImage`,`msClients`,`msSessClients`,`msIn

[2021-07-17 13:51] Sebastian-Roth commented on #390
@abulhol Oh well, lost track of this. But finally pushed 7e12c2b39 to fix this.

[2021-07-17 14:02] Sebastian-Roth commented on #390
Also fixed in `working-1.6`: e1ce5559f

[2021-07-17 14:02] #390 closed

[2021-07-17 14:42] Sebastian-Roth commented on #422
@georgschoelly Thanks for your input on this!

1. Definitely right, many systems allow other PHP file extensions. So I changed the check on filename to block any filename that has an extension (a dot in the filename). Our kernel files are usually named `bzImage` and people should get along without using a dot!

2. Now that I look at this again I am pretty sure I tried to do exactly this by using `

[2021-07-17 14:51] Sebastian-Roth commented on #422
Commits 9f17f6eb5 (`working-1.6`) and 43ded376d (`dev-branch`) should take care of this.

I tested with various strings including the mentioned `http://malicous.server/myshell?https://fogproject.org/`...

[2021-07-17 15:12] Sebastian-Roth commented on #328
Would need schema update as well. We'll delay this until the merge with `working-1.6` is done.

[2021-07-17 15:15] Sebastian-Roth commented on #432
Closing this as login page works now. Menu is discussed in #435

[2021-07-17 15:15] #432 closed

[2021-07-19 05:33] georgschoelly commented on #422
Thanks a lot!

[2021-08-04 16:14] lreddy3006 commented on #96
Hi All,
In FOG, am using Ubuntu ISO with PXE network boot installation, but getting "ChainLoading failed hits for the ipxe shell" from the console. Please help me on this.

[2021-08-07 06:13] Sebastian-Roth commented on #96
@lreddy3006 No idea what your post has to do with this very old topic. You are better off posting a new topic in the [FOG forums](https://forums.fogproject.org).

[2021-08-07 06:18] Sebastian-Roth commented on #437
@eduardotseoane Could this be related to #426.

@mastacontrola Any chance you can look into those two issues?

[2021-08-07 17:19] mastacontrola commented on #424
This is already done. Though it's happening explicitly:

https://github.com/FOGProject/fogproject/blob/working-1.6/packages/web/lib/reg-task/registration.class.php#L150
From what I can tell, the imageid is not being decoded.

Maybe I've been out of this for a while, but what do you mean "When you register a client through the PXE menu"?  I don't recall ever having a method of registering from PXE.

[2021-08-07 17:45] mastacontrola commented on #426
So I performed a test with dev-branch and msShutdown and msMaxwait are already defined. (This is a clean database using only dev-branch.)

I haven't attempted installing working-1.6 database yet. So the issue in the link appears to be something unrelated?

I am still looking to try to figure out about the dmedecodeKeys though.

[2021-08-07 17:54] mastacontrola commented on #426
I have added a secondary snippet as schema version 283 using a CREATE TABLE IF NOT EXISTS for the dmidecodeKeys and this appears to have generated the proper code.

[2021-08-07 17:58] mastacontrola commented on #437
I just looked at fresh install with working-1.6 and it created the database properly with msShutdown and msMaxwait.

I also did a fresh install using the dev-branch and it created the the same fields properly.

[2021-08-07 17:58] #437 closed

[2021-08-07 19:16] Sebastian-Roth commented on #424
@mastacontrola What I mean is the registration from the FOG iPXE menu if a host boots up and is not registered yet. See the following picture. When selecting the full registration you are asked to enter things like hostname, image ID to be assigned to the new host and so on.

![VirtualBox_test2_07_08_2021_21_10_15](https://user-images.githubusercontent.com/16324704/128611452-f3536654-ca5f-4b91-82c

[2021-08-07 20:25] Sebastian-Roth commented on #426
@mastacontrola Sorry but I need to re-open this issue. Thanks for adding the dmidecodeKeys! Though the differences in the `multicastSessions` table still seem to exist. Steps to reproduce:

1. Install fresh VM with Ubuntu 20.04 (I am sure it doesn't matter which OS is used but just for reference), update and take a snapshot.
2. Install FOG dev-branch (1.5.9.111 as of today) and check things are wo

[2021-08-07 20:32] mastacontrola commented on #424
I don't have anything to test against but I have added the stripAndDecode back onto the $_POST variables. It should work, but without testing I don't feel comfortable just saying it does. If you'd be willing to test or know who could test the latest working-1.6

[2021-08-07 21:33] mastacontrola commented on #426
Figured out what happened, it seems to have been a double spelling mistake.

Specifically looking at https://github.com/FOGProject/fogproject/blob/working-1.6/packages/web/commons/schema.php#L3975 and L3985, columnAnon3 and columnAnon4 should have been $columnmsAnon3 and $columnmsAnon4.

columnmsShutdown and columnmsMaxwait was called earlier as $columnmsmsShutdown $columnmsmsShutdown

I have swit

[2021-08-07 21:51] mastacontrola commented on #426
Should be fully fixed now.

Closing.

[2021-08-07 21:51] #426 closed

[2021-08-09 12:35] Captain-Adam opened #439 "No configuration methods succeeded - iPXE error"
Hello,

I have a problem for several months with the PXE boot of a PC model (HP 260 G4 desktop mini to be exact). I have prepared a master image of this PC model in order to capture it first, then deploy it on the rest of our computer pac. Unfortunately I can't access the FOG boot menu. Indeed, at each boot attempt, the error "**No configuration methods succeeded**". I use the **ipxe.efi** in my D

[2021-08-09 12:45] Captain-Adam commented on #439
If it helps, my network card is an RTL8168. I tried to use the "realtek.efi" in the DHCP configuration, but it does not change anything.

[2021-08-12 10:01] Captain-Adam commented on #439
The update of FOG (and probably iPXE) solved the problem. I close this issue.
Have a nice day

[2021-08-12 10:01] #439 closed

[2021-09-19 22:34] thistleknot opened #440 "fog installer hangs on packages"
I've had this running for over a week now.  I've installed all the packages manually using yum... but it gets stuck around mtools

[code]

[2021-09-20 07:58] Sebastian-Roth commented on #440
@thistleknot Which Linux OS and version do you use?

Please take a look at the installer log (path/to/fogproject/from/github/or/targz/bin/error_log/) and post the last 20 lines of the error log here.

[2021-09-20 08:41] LifeIsALesson opened #441 "FOG installer hangs on "Creating SSL Private Key""
Hi,
thanks for this awesome project! I'm new to FOG. I'm trying to install FOG in a Ubuntu 20.04 LTS VM. My install hangs at "Creating SSL Private Key". Last lines from the install log:

[code]

Any advice how to handle this is highly appreciated.

Best regards,
JP

[2021-09-20 09:00] LifeIsALesson commented on #441
This issue also occurs at trying to install from the current dev branch.```

 * Creating SSL Private Key....................................Failed!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! The installer was not able to run all the way to the end as   !!
!! something has caused it to fail. The following few lines are  !!
!! from the error log file which might help us

[2021-09-20 09:15] Sebastian-Roth commented on #441
@LifeIsALesson Take a look at this topics in the forums: https://forums.fogproject.org/topic/15733/installer-issue-interface-ipadress-related-reopend and https://forums.fogproject.org/topic/15729/installer-issue-interface-ipadress-related

Most probably you have a simular situation with a special IP configuration. Run `ip addr show` and post results here. The FOG installer does not support setups

[2021-09-20 09:20] LifeIsALesson commented on #441
Please ignore and close this one. The issue was caused by some off network interface config after switching from DHCP to statically assigned IP.

[2021-09-20 09:20] LifeIsALesson commented on #441
THANKS!

[2021-09-20 11:36] #441 closed

[2021-09-23 18:08] Ryushin opened #442 "Add Devuan for Installation"
Please add support for Devuan.  I see support for Ubuntu, Debian, and Mint.  I'm going to modify lib/ubuntu/config.sh to see if I can get it to work.

[2021-09-24 09:02] Sebastian-Roth commented on #442
Sure we can talk about support for Devuan. Will you be the maintainer of this part of the installer script?

[2021-09-28 12:27] ahardylaniertech commented on #198
I've just now found this thread (lots of great info) and would love to assist in any way I can as this would be extraordinarily useful to my org.  Would it be an option to allow the admin to pick the unique system identifier options during the install?  In my case, all of my machines have a unique chassis serial number.  This would easily fix the issue for me.  However, at least one older model th

[2021-09-28 23:22] Sebastian-Roth commented on #198
@ahardylaniertech You are more than welcome to dig into this. I might give you a few pointers:
https://github.com/FOGProject/fos/search?q=uuid
https://github.com/FOGProject/fos/blob/master/Buildroot/board/FOG/FOS/rootfs_overlay/bin/fog.checkin#L96
...
https://github.com/FOGProject/fogproject/search?q=sysuuid
https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/lib/fog/fogbase.clas

[2021-09-29 11:21] ahardylaniertech commented on #198
Awesome.  Thanks for the pointers.  I've got a steep learning curve in figuring out exactly how FOG code works, but I'll give it a shot.  I've pulled a copy of the code and likely will have several questions as I dig in.  Thanks for being so responsive already.

[2021-09-29 15:26] ahardylaniertech commented on #198
Wow.  You really pointed me at the exact spot, ty!  What do you think about giving the admin the option to choose?  By default the system uses the MAC, but the admin could choose to change (at any point in time) to using a different method.  Only machines added from that point forward would be affected.  There could be a few options (MAC, UUID, chassis serial, a combination of those, or manual inp

[2021-09-29 19:12] astrugatch commented on #198
I like the idea @ahardylaniertech presents with choosing. For us UUID or system serial is perfect because we stick with Dell and they adhere to those standards as far as I can tell. But YMMV with other vendors, but having the fall back on MAC is a solid option.

[2021-09-29 21:04] Sebastian-Roth commented on #198
@ahardylaniertech said:

On the one hand side it would be good so people can adjust things to their needs. On the other hand it will make the coding more complex as well as prone to errors (e.g. unexpected stuff you can't know about beforehand). Also people might get the setting wrong causing trouble in their environment.

I like the idea of leaving MAC as default to not effect all users straight

[2021-10-16 01:08] Yarli opened #443 "service/hostinfo.php returns logon page HTML instead of BASH variables"
I was trying to follow some of the post install scripts from the wiki, and long story short I ran into issues.
When debugging why I was having issues I noticed when you run
 curl -A "" -Lkso /tmp/hinfo.sh ${web}/fog/service/hinfo.php -d "mac=$mac"
It returns back the FOG logon page html instead of returning back the BASH variables for the given host.
To debug it, it tried sending over invalid mac

[2021-10-16 16:10] Yarli commented on #443
You were correct.
This forum post caused a little confusion over that, where it shows both hinfo and hostinfo.
https://forums.fogproject.org/topic/7740/the-magical-mystical-fog-post-download-script/3?lang=en-US

I did try using hostinfo.php but only on command line using curl as a test and dismissed it when I got back the "Invalid Tasking" output, but as you said that's correct behaviour outside o

[2021-11-09 22:39] ZVNexus opened #444 "Incompatibility with newer macOS versions."
PXE boot is no longer supported, so what alternative is there now?

[2021-11-09 22:49] Sebastian-Roth commented on #444
* USB boot iPXE
* iPXE on hard drive (EFI partition)
* CD/DVD iPXE

[2021-11-09 22:50] ZVNexus commented on #444
I was ideally looking for something that can be done with zero user interaction so dozens of them can be formatted at once just plug and it starts going

[2021-11-13 07:51] Sebastian-Roth commented on #444
In this cas I suggest you look into "installing iPXE on hard drive (EFI partition)". Let us know if you need some help with it.

[2021-11-18 18:37] jmechalas opened #445 "Update from 1.5.5 to 1.5.9 broke LDAP plugin"
After updating from 1.5.5 to 1.5.9, our users could no longer login using LDAP. Error logs showed:

[code]

In the source code, it looks like the plugin is trying to get a setting LDAP_PORTS, and is failing. It seems this should be in the `globalSettings` database table, but it was missing. I tried to use the LDAP Plugin Configuration page to set this value, but the form gave this error:

[code]

[2021-11-18 18:40] jmechalas commented on #445
FOG Server 1.5.9
Ubuntu 18.04.4 LTS
Kernel 4.15.0-154-generic
Intel(R) Xeon(R) CPU E3-1280 v6 @ 3.90GHz

[2021-11-18 18:42] jmechalas commented on #445
I also noticed while I was in there that the error output that gets logged to /var/log/apache/error.log includes the user's credentials. :(

[2021-11-18 22:28] Sebastian-Roth commented on #445
@jmechalas Thanks for bringing this up. Unfortunately it's a known issue in FOG that plugins have an issue when there is a database schema update needed because this is done on plugin install only. So re-installing the plugin would have fixed the issue most probably.

Though I have to admit that I am not exactly sure there was an issue with the LDAP plugin in FOG 1.5.9 that we fixed in `dev-branch

[2021-11-18 22:35] mechalas commented on #445
In the virtual host error log (error-fog.log) we see:

[code]

[2021-11-20 16:35] jmechalas opened #446 "Updating the MAC list ignores proxy settings, times out, zero's out MAC list"
If you try to manually update the MACs from the FOG configuration page, your proxy settings are ignored and it tries to fetch them directly which results in a timeout, and zero's out your existing MAC list.

The issue seems to be the call to open() in `fogconfigurationpage.class.php`. It is not creating a context for a proxy if a proxy is defined. Manually adding this code resolves the issue:

[co

[2021-11-30 13:09] rod2ik opened #447 "Script (web services) not launching with PHP8 in Archlinux( /Manjaro Linux) Install"
Hello,

Thanks for this wonderful software.

I am having problems to install with PHP 8 and on Manjaro Linux (not sure what is causing the problem yet). It should globally be similar to ArchLinux, I would say.

Could you please be of any help?

I have a request: Could you please develop the functionnalty for PHP8/Manjaro Linux, or  fix the installation bug for PHP8/Manjaro Linux? or at least help

[2021-12-04 20:28] Sebastian-Roth commented on #447
@rod2ik Interestingly we've had a post on Arch in the forums that was updated just recently: https://forums.fogproject.org/topic/15594/got-arch-manjaro-install-to-work

We are very happy to make this work on Manjaro and Arch but it'd be very handy to have exact information on what needs to be changed. Best if you can send in a pull request (against `dev-branch` not `master`) or post a `git diff` o

[2021-12-08 14:08] ludo453 opened #448 "v1.5.9"
Hello, while installing error on php-gettext even when installing manually.

[2021-12-08 16:39] Sebastian-Roth commented on #448
Would be great to get some more information on what version of FOG you are using (1.5.9 a.k.a latest release as of now **or** `dev-branch` **or** any other version) as well as the Linux OS and version you use.

If I had to guess you are trying to install FOG 1.5.9 on Debian 10.

Searching github and the forums you can come up with numerious posts on this topic:
https://github.com/FOGProject/fogpro

[2021-12-08 16:39] #448 closed

[2021-12-08 18:12] ludo453 commented on #448
Hi so yes I am on the master version V1.5.9 and also yes on debian 10, I will look on the forum for your link thank you.

[2021-12-13 17:44] roland-rollo opened #449 "[fog-devel] Installer have problem with installing gettext in Debian Bullseye"
I previously installed fog on Debian Buster without problem, but when I try it on Bullseye it shows me this
[code]
In Bulsseye repository I see this
[code]
Is there way to better detect correct package name, without editing distribution script for debian/ubuntu?

[2021-12-15 19:49] knotapun opened #450 "Question: Are you interested in a re-write/organization of installfog.sh?"
I'm a fledgling developer, and I'm looking for proof-of-competency work that isn't closed source or protected by an NDA. I'm a fan and user of the project, and would like to know if it would be desirable for installfog.sh to be cleaned up and re-organized.

I don't want to start on such an undertaking if the work has absolutely no chance of being integrated, because the maintainers don't want it,

[2021-12-15 19:54] Sebastian-Roth commented on #449
@roland-rollo Which version of FOG did you use?

I am pretty sure we can remove `php*-gettext` from the scripts package list altogehter. See here: https://forums.fogproject.org/post/142943 (an follow up posts)

[2021-12-15 19:59] Sebastian-Roth commented on #450
@knotapun You request is very welcome! The installer scripts could use a maintenance/clean-up for sure. Though we also have a fair amount of other things on the list and if you are keen to look into other areas we'd welcome that too.

Why is your first interest in the installer scripts? Do you have a found knowledge of bash scripting?

We use bash scripting in what we call the FOS (FOG OS) inits -

[2021-12-15 20:34] knotapun commented on #450
There's three reasons I want to work on installfog.sh. First, I've read quite a bit of it. Second, it's at the front of the project, the implications of any changes are fairly clear making it at least appear fairly safe. Third, I need more bash experience.

I'm not that fond of bash, the scripting is kind of clunky, but that's just how some things go, especially when they're as old and foundationa

[2021-12-15 20:42] Sebastian-Roth commented on #446
@jmechalas Thanks for open this issue report, posting the details and sorry for the long delay.

I think what you are looking for is already done in `dev-branch`: https://github.com/FOGProject/fogproject/commit/cff7a50ce439bbe0e7d1d8f0f7281c003018f67e

[2021-12-15 20:42] #446 closed

[2021-12-15 21:36] Sebastian-Roth commented on #450
@knotapun Beside the bash side of things you also need a fair amount of kowledge and practice with the different Linux distros we currently support. Knowing the ins and outs of package management as well as service configurations is needed to get things right. Not wanting to keep you from getting into it but I just try to be fair. There is more to it than bash. On the other hand it's hell a lot ea

[2021-12-15 21:49] Sebastian-Roth commented on #447
@rod2ik Please help us with some more details.

[2021-12-15 21:50] #444 closed

[2021-12-15 21:51] Sebastian-Roth commented on #442
@Ryushin We'll close this request as there hasn't been any rely yet. You are still more than welcome to help us add support for Devuan. Let us know and we'll re-open this issue report.

[2021-12-15 21:51] #442 closed

[2021-12-15 21:52] Sebastian-Roth commented on #440
Closing as we haven't heard back in a long time.

[2021-12-15 21:52] #440 closed

[2021-12-15 21:55] Sebastian-Roth commented on #370
@Quazz @George1422 What stage are we at with this I am wondering?

[2021-12-16 10:29] Quazz commented on #370
@Sebastian-Roth I'd say there's nothing really stopping us from implementing this. Default config should probably be fine for most installs. (default settings have improved a lot since I last posted here) Those who have issues/want more performance can tune it further.

Another thing that might be worth looking at are the indexes, though that is a lot more complex of course.

[2021-12-16 10:50] rod2ik commented on #447
Thanks for your reply. I will take some spare time to try to give you the best answer ASAP

[2021-12-16 18:48] roland-rollo commented on #449
Latest fog-devel branch, 1.5.9.114, commit 4d750fc09337bbec2ac69a279ee93de994c04ada

[2021-12-17 21:55] Sebastian-Roth commented on #449
@roland-rollo This commit was meant to update the installer for Ubuntu 21.10. Still need to look into removing `php*-gettext` completely.

[2021-12-17 22:10] Sebastian-Roth commented on #370
@Quazz said:

May I ask what you mean by that? The default if MyISAM? What has improved?

Does that add much of performance?

[2021-12-17 23:55] George1422 commented on #370
Well for MyISAM that data engine uses table level blocking for updates. This becomes a problem when you have 100s of FOG clients hitting the FOG server per minute. The INNODB engine uses row level locking on updates. The INNODB engine is much more efficient at FOG workloads where there are more than 200 clients (guess) checking into the FOG server. With sites less than 200 nodes the myisam engine

[2021-12-17 23:58] roland-rollo commented on #449
Thanks for clarification.

[2021-12-17 23:58] #449 closed

[2021-12-19 12:16] Quazz commented on #370
Yes, I mean the defaults for Innodb table settings have improved. A lot of it now smartly configures itself on boot and for others the defaults are more suited to modern situations.

All this to say that if we switch over to Innodb we don't need an explicit configuration file. Defaults should work in most situations.

Depends on the query in question. Though I'm far from a database expert so I'm n

[2021-12-19 22:36] mastacontrola commented on #370
I have made the change, quite a few months now, for Innodb to be the standard for working-1.6.

I didn't adjust anything within master/dev-branch to keep the 2 separated. But if there's a a need to make the switch, there's some code example there.

[2021-12-21 20:52] tkrusterholz opened #451 "Installfog.sh fails at php-gettext, requesting wrong package name"
Installation script downloaded this morning fails at trying to install package 'php-gettext,' the actual name of the package is 'php-php-gettext'

 * Installation Started

 * Testing internet connection.................................Done
 * Adjusting repository (can take a long time for cleanup).....OK
 * Preparing Package Manager...................................OK
 * Packages to be installed:

[2021-12-21 20:56] #451 closed

[2021-12-26 06:30] Sebastian-Roth commented on #370
@George1422 said:

The fog-client sends a couple of HTTP requests to the FOG server to push and pull information ([code ref](https://github.com/FOGProject/fog-client/blob/master/Service/FOGSystemService.cs#L51) - as well in line 88, 90, 91). This is being answered within the (FOGPage class code](https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/lib/fog/fogpage.class.php#L3003).

[2021-12-26 06:34] Sebastian-Roth commented on #450
@knotapun Hope I did not put too much pressure on you bringing up all those things. Here is another minor issue one could take a good look at: https://github.com/FOGProject/fogproject/issues/449 (removing `php*-gettext` from the packages list altogether)

[2021-12-26 22:11] knotapun commented on #450
You didn't scare me, it's just a busy time of year and I recently started a job. I'm still looking into the DHCP issue, but I'll gladly look at the issue you pointed out, too! Thank you for suggesting specific issues to address, that makes it easier to focus.

Hope you had a good holiday weekend.

[2022-01-06 10:56] Sebastian-Roth commented on #447
@rod2ik Hope you had a good start to the new year. Any news on this issue?

[2022-01-06 11:13] Sebastian-Roth commented on #445
@mechalas Thanks a lot for the information! Saved me some time for setting up things to test myself. Still took me a while to find the time to look at this, sorry.

This is caused by stacktrace printing all the information. From what I read about this we could either:
* use `set_exception_handler()` and `restore_exception_handler()` to silence the full stacktrace output
* switch to other means of

[2022-01-14 16:47] ChicagoJay opened #453 "E: Unable to locate package php-gettext during install"
Brand new VM, running Ubuntu 21.10.3, fully updated.

Install directory is `/opt/fog/`.

Trying to run `/opt/fog/fogproject-master/bin/installfog.sh` results: `E: Unable to locate package php-gettext`

Install and error logs attached.

[foginstall.zip](https://github.com/FOGProject/fogproject/files/7871889/foginstall.zip)

I think this has to do with trying to get a non-existent version of PHP.  T

[2022-01-14 18:33] ChicagoJay commented on #453
I think I found it.  ~\lib\ubuntu\config.sh needs an entry for 21 under Ubuntu (line 46) that will get the correct version of PHP for Ubuntu 21.

[2022-01-14 19:17] ChicagoJay commented on #453
So now the script tries to install PHP 7.4 (instead of 7.1).  Unfortunately, the script still dies because `php-gettext` is failing because php7.4 and modules aren't being found.

Apparently, it's now called php-php-gettext.  (Really?!?)

In order to install 7.4 explicitly in Ubuntu 21, one needs to add the devs' repository: `add-apt-repository ppa:ondrej/php`

I'm not sure if FOG requires PHP 7,

[2022-01-14 19:20] ChicagoJay commented on #453
I don't know if something is incompatible or not, but the install script now gets as far as the step where one needs to log into the web interface, to set up the schema.  However, when logging in, I get a 500 error from Apache.

*I punt*

[2022-01-14 19:28] ChicagoJay commented on #453
I just read the issue about php-php-gettext.  Maybe I should try the devel branch....

[2022-01-14 21:37] ChicagoJay opened #454 "Install error at Database config using PHP 8.0"
Fresh install of dev branch on brand new Ubuntu 21.10 impish Server fails install when waiting for user to hit [enter] after database is updated/installed.  Management interface gives error 500.

[2022-01-15 07:37] Sebastian-Roth commented on #453
@ChicagoJay Welcome to the FOG universe. You are on the right track now. FOG version 1.5.9 came out way before Ubuntu 21.10 was released and it's impossible to predict the packages that come with newer versions beforehand. We are trying to make the installer more universal but that will take a fair amount of work.

So back to your question. So yes, using `dev-branch` will help you install FOG on U

[2022-01-15 07:37] Sebastian-Roth commented on #454
@ChicagoJay This is still work in progress as FOG is not fully compatible with PHP 8.0 yet.

While you are free to use whatever Linux OS and version you want I am wondering if you might think about using a different one. You might want to take a look at @Wayne-Workman's great [install stats](https://fog-external-reporting-results.theworkmans.us/) as well as the latest [auto installer tests](http:/

[2022-01-15 07:57] Sebastian-Roth commented on #450
@knotapun Yes indeed had great holidays back then. But it's been extremely busy since then.

Did you get to look into the stuff mentioned above (#449 at first) yet?

Hope you had a good start to the new year.

[2022-01-15 08:19] Sebastian-Roth commented on #447
I just got my act together and tried to find most references we have to FOG supporting Arch Linux.

https://forums.fogproject.org/topic/1697/install-fog-on-arch-linux
https://forums.fogproject.org/topic/6522/latest-git-fails-during-install-on-arch-linux

As well I am trying to reach out to all the people being involved with in the past: @dfear @mastacontrola @gfokkema @jonbesga @ase1590 @waynework

[2022-01-16 19:11] knotapun commented on #450
Yes, I have. I'm currently looking at the scripts. The first part of this seems simple enough, remove the package from fresh install scripts. That was easy. I've removed these from my local copy. Now I'm just trying to understand if there's any changes I would need to make for existing installs to ensure that it's marked as no longer needed.

[2022-01-16 22:59] ase1590 commented on #447
I've retired my FOG Arch server after a career change.

I'd say I agree, dropping arch support for the time being unless someone else wants to stop in would be the right move.

[2022-01-17 06:15] knotapun commented on #450
I've spent a decent amount of today looking at the code, and will submit a PR after I complete a little bit of testing. There's a decent amount of code within the `lib/ubuntu/functions.sh` that references `gettext`, which I want to make sure I get right. I just need to test it, and then I'll make a PR.

[2022-01-17 09:38] Sebastian-Roth commented on #450
@knotapun Great! Thanks for looking into this. Do you know how to test gettext is still working? This forum discussion might be helpful: https://forums.fogproject.org/topic/15370/dev-branch-1-5-9-79-installing-package-php-gettext-failed-has-to-use-x-switch-to-get-it-to-work

[2022-01-17 09:46] Sebastian-Roth commented on #450
@knotapun Don't forget to send the PR against `dev-branch`. :-)

[2022-01-18 20:24] ChicagoJay commented on #453
I'd love to, but I am quite busy with my day job!  ;)  Also, I don't really know HOW to help.  I've never posted code or pull requests before.  In fact, I only just learned what pull requests WERE a few months ago...

I actually watched Chuck develop the original FOG, back when he was at ATHS, in the early oughts.  I work maybe 20 minutes away from there, in a PK-8 school district.

Anyway - I spu

[2022-01-18 20:39] ChicagoJay commented on #454
Ubuntu 20.04 seems to have worked, thanks.

[2022-01-18 20:39] #454 closed

[2022-01-30 17:21] Sebastian-Roth commented on #371
This was mentioned in the forums: https://forums.fogproject.org/topic/15981/snapin-cert-issues

Would be great to solve this before the next release.

[2022-02-03 23:45] jessegit opened #456 "[dev-branch] fails on Ubuntu 21.10 in databasemanager.class.php implode()"
Ubuntu 21.10 has PHP 8.0 that has deprecated some args for implode.

` Uncaught TypeError: implode(): Argument #2 ($array) must be of type ?array, string given in /var/www/html/fog/lib/db/databasemanager.class.php:47`

Fix for me was
[code]

[2022-02-04 00:23] Sebastian-Roth commented on #456
@jessegit Thanks for letting us know. This is a known issue and we are working on it.

[2022-02-04 12:15] bthomas1234 commented on #371
Is there any workaround to fix this?
The ones mentioned in the forums didnt work.
Using new smart installer gave new issues like token errors - https://forums.fogproject.org/topic/15981/snapin-cert-issues/6

And trying to modify the code to https didnt bring much difference - "As a quick fix you can edit /var/www/html/fog/lib/client/snapinclient.class.php go to [line 166](https://github.com/FOGPro

[2022-02-04 12:34] Yarli commented on #371
I managed to get around this by doing the modification as described by editing line 166.
You need to make sure you drop one of the %s form the sprintf and put in your full URL.
For example: sfprintf("http://%s%s",.....
becomes: sprintf("https://fog.mydomain.com/%s".....

I also have a proposed solution based around that but i've not fully explored if this is possible yet or not.

If we can add an

[2022-02-05 08:15] Sebastian-Roth commented on #371
@bthomas1234 Thanks for posting here. I wasn't sure whether this is actually causing people trouble or if no one cares about it. Don't get me wrong. I just say this due to the fact we didn't have much talk about this in the forums (main source of input from users). We are going towards a next release and I am hoping we can get this fixed - but we don't have enough people to work on this.

@Yarli A

[2022-02-05 19:12] jessegit commented on #456
and another one, at `packages/web/lib/db/mysqldump.class.php`:
[code]

[2022-02-12 16:54] Sebastian-Roth commented on #447
@ase1590 Thanks for your quick response.

I just figured I should ask in the forums as well before finally tossing it out: https://forums.fogproject.org/topic/15591/arch-manjaro-install-database-and-web-fails

So there is a last chance here we find someone willing to help on the ARCH support.

[2022-02-19 19:31] ggiesen opened #458 "RFE: Option to specify working directory other than /tmp to FOG installer (installfog.sh)"
As a security measure on all of our machines, we mount /tmp with `noexec`. This causes the FOG installer to fail while trying to run ./configure for UDPCast:

[code]

At least one of the offending lines is here.

https://github.com/FOGProject/fogproject/blob/171d63724131c396029992730660497d48410842/lib/common/functions.sh#L443

I tried prepending the line with `sh` but the installer later fails on

[2022-02-19 19:55] ggiesen commented on #450
@knotapun perhaps you might be able to roll #458 into your work as well? :)

[2022-02-20 14:11] Sebastian-Roth commented on #458
@ggiesen Hi Gary, thanks for your input on this. I see why this is causing trouble for you.

We actually use `/path/to/fogproject-code/tmp` for certain things like temporary SQL scripts, downloading inits and kernels. I think we could easily use that directory for udpcast compilation as well. What do you think?

Sure making it configurable makes it more flexible but it just adds more complexity wh

[2022-02-20 19:23] ggiesen commented on #458
Yes as I started poking around into the scripts, I saw that was the case. I think that makes the most sense, as whereever you untar the tarball is where it will execute from.

[2022-02-20 19:31] ggiesen opened #459 "Fully-automated installation possible?"
I'm trying to automate provisioning of the FOG project server, which means there can be no interactive elements.

I've been able to bypass a number of the interactive elements by generating a .fogsettings file, and I've modified the install script to get past a few:

Comment out the following two lines:
https://github.com/FOGProject/fogproject/blob/171d63724131c396029992730660497d48410842/bin/inst

[2022-02-20 22:10] Sebastian-Roth commented on #459
@ggiesen Using "pre-configuration" through `.fogsettings` is a good way to go I would say. Though I can imagine this is not helping in all cases. For example the `checkSELinux` and `checkFirewall` functions cannot be satisfied by `.fogsettings` but instead you can make sure to disable SELinux and the firewall beforehand. In case you want to enable those you can do that afterwards again. Kind of a

[2022-02-21 23:41] ggiesen commented on #459
The following is what I've come up with and seems to work so far. Accepts a -R argument that specifies the path to a file containing the MySQL root password:

[code]

It doesn't have any error checking on the file, but it seems to work at least for my use case.

[2022-02-23 01:19] ggiesen opened #461 "LDAP plugin group search uses "name=" to find the name of the group with no option to specify a different attribute"
I'm attempting to set up LDAP authentication with FOG using the LDAP plugin against our FreeIPA servers, but it looks like the LDAP plugin can only match groups using the "name" attribute which FreeIPA groups do not carry. AD has a name attribute (which as far as I can tell always matches the value in "cn"), not sure about OpenLDAP or other LDAP implementations.

[code]

Would it make sense to cha

[2022-03-02 17:36] Sebastian-Roth commented on #458
@ggiesen This is fixed in the latest `dev-branch` version. See commit above.

[2022-03-03 14:20] Sebastian-Roth opened #462 "Make installer work for Ubuntu 22.04 LTS (Jammy Jellyfish)"
Currently only the daily desktop [ISO is available](https://cdimage.ubuntu.com/daily-live/current/) to far but that's a good point in time to start looking into what's missing to run FOG in Ubuntu 22.04 LTS (Jammy Jellyfish).

[2022-03-03 14:29] Sebastian-Roth commented on #453
Closing this topic as it is solved for @ChicagoJay. We are working on Ubuntu 22.04 (#462) and [PHP8 support](https://github.com/FOGProject/fogproject/tree/dev-branch-php8).

[2022-03-03 14:29] #453 closed

[2022-03-03 14:33] Sebastian-Roth commented on #450
@knotapun I am trying to get things going for our [next milestone](https://github.com/FOGProject/fogproject/milestone/4). Would be great to have you aboard with that too. I am closing this issue now and hope to see you around. Feel free to send in new pull requests.

[2022-03-03 14:33] #450 closed

[2022-03-03 14:33] #456 closed

[2022-03-03 14:36] Sebastian-Roth commented on #461
@fernandoGietz Hi, would you find some time to look into this?

[2022-03-03 14:44] Sebastian-Roth commented on #459
@ggiesen Thanks for your input on this. Though I am not too sure I like the idea of having the DB root password in a plain text file. Sure it's only temporary but still. What else could we come up with to make this work for you out of the box in one of the next releases? Did you look into [my comment](https://github.com/FOGProject/fogproject/issues/459#issuecomment-1046331476) on using `unix_socke

[2022-03-03 14:53] Sebastian-Roth commented on #371
@Yarli Do you think you'll find some time to look into this in the next few days?

[2022-03-03 14:54] Sebastian-Roth commented on #366
@astrugatch Just wondering if you are back to FOG and would find some time to test this before we merge it into the official code.

[2022-03-03 14:57] Sebastian-Roth commented on #370
@Quazz @George1422 Would you be able to help me test things before we put that into the next release?

[2022-03-03 15:10] Sebastian-Roth opened #463 "Pull kernel and init update information from github directly"
Instead of hosting kernel/init and the update information on our website we want to have it all hosted on github.

https://forums.fogproject.org/topic/16044/fog-kernels-and-inits-moving-to-github

[2022-03-03 16:03] astrugatch commented on #366
Just to confirm is this the config we are testing (its been a while):

`SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384`

[2022-03-03 16:09] ChicagoJay commented on #462
Just for giggles, I installed Jammy Jellyfish Desktop and tried to do a git install.  It's definitely still looking for PHP 7.1.

[2022-03-03 16:09] knotapun commented on #450
That works, Thank you. I'm still looking at the scripts, including the request from the gentleman before. You'll be receiving more substantive pulls soon, including a few dev quality of life scripts.

[2022-03-03 16:21] Sebastian-Roth commented on #366
If that's what you get from https://ssl-config.mozilla.org/#server=apache&version=2.4.41&config=intermediate&openssl=1.1.1d&guideline=5.4 then I would say yes. Don't worry about the apache version as those two parameters shouldn't depend on the apache version at all.

[2022-03-03 16:26] Sebastian-Roth commented on #450
@knotapun Don't worry about #458, I fixed that one the other day already.

[2022-03-04 08:47] Yarli commented on #371
Ive got a busy week lined up but ill see if i can pull the dev branch down at work today and have a go. My biggest issue is i need to understand the process on getting a new field added to the database. I presume thats part of the fog install script ?
Adding the UI changes and backend changes should hopefully be fairly straightforward.

[2022-03-04 11:18] Sebastian-Roth commented on #371
@Yarli Did you read my post start to end? I still don't think adding the field is the best way of fixing this issue. That way you don't need to worry about DB fields at all.

[2022-03-04 12:50] Yarli commented on #371
Sorry about that, I didn't fully digest your reply as I working off my phone at the time.

Looking at your suggestion of doing a detect HTTPS method, I think that'll work for most users providing it's internal only.
Those exposing their FOG server to the internet like we are, will run into problems with it still trying to use the internal IP of the storage node. Changing the IP to the external add

[2022-03-04 20:21] astrugatch commented on #366
This seems to break pxe boot. Not sure what the issue is. I know my install has been upgraded in place a bunch and migrated between hosts so I don't always trust my results on this system. I want to do a clean install on a fresh VM to really put the config through it's paces. I am going to spin up a VM on my homelab so I don't need to mess with my production server so much. I'm gonna try to do tha

[2022-03-05 21:23] astrugatch commented on #366
With the exact config
Web UI - Is good
PXE fails to boot.
Didn't test the client as failed PXE is kinda a non starter. Im going to just change SSL Protocol and see if I can tune the cipher suite to it's best available option. Gonna work off this list https://ipxe.org/crypto

[2022-03-05 21:38] astrugatch commented on #366
`SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1`

This is good for WebUI and and PXE. Testing Client now.

[2022-03-06 09:34] Sebastian-Roth commented on #366
@astrugatch You need to use the ["fixed-tls" 0.12.0 version](https://github.com/FOGProject/fog-client/releases/download/0.12.0/SmartInstaller_fixed-tls.exe) or the [latest 0.12.1](https://github.com/FOGProject/fog-client/releases/tag/0.12.1) I think. Otherwise it won't work I am sure.

Hmmm, looks like iPXE's crypto implementation needs an update to support modern cipher suites. Not something we h

[2022-03-06 18:47] astrugatch commented on #366
@Sebastian-Roth

Their supported ciphers are:
RSA_WITH_AES_256_CBC_SHA256, RSA_WITH_AES_128_CBC_SHA256, RSA_WITH_AES_256_CBC_SHA, and RSA_WITH_AES_128_CBC_SHA

I'm going to try including only the highest and add it to the list of supported ciphers from Mozilla and see how that goes for PXE.

Haven't gotten a base machine set up yet to test the client.

[2022-03-06 21:46] Sebastian-Roth commented on #370
@Quazz @George1422 I found some time to do some testing as well as adding the change (7330fbc4c). InnoDB will be the default for new FOG installs from now on.

We won't do an automatic conversation of existing installs though.

[2022-03-06 21:46] #370 closed

[2022-03-06 21:48] Sebastian-Roth commented on #463
One major step is done in eb46949b. We might look into adding a FOS init updater to the web UI as well but we might keep that for the next release as well.

[2022-03-08 00:02] ggiesen commented on #461
I did start working on a PR for this, but haven't had time to complete or test it:

https://github.com/ggiesen/fogproject/tree/ldap_plugin_enhancements

[2022-03-15 09:37] urtzi2 opened #464 "How to print in black and white with a ".dat" file"
Hi everyone,
I want to set up a printer with a .dat file on the fog server. The first thing I have done is to go to the fog documentation and I have found a command to export a config file which is the following: [documentation](https://docs.fogproject.org/en/latest/management/printer-management.html)

- RUNDLL32 PRINTUI.DLL,PrintUIEntry /Ss /n"Printer Name" /a "C:\Path\To\Save\ConfigFile.dat m f

[2022-03-16 09:12] iPaulis commented on #464
I am also interested in knowing how to do this, or if there is an alternative way to set by default a black and white printer.

One way to solve this issue would be if Fog would read the MS-DOS parameters we need when we use the "printer config file" field. This way Fog would adapt to any use case instead of applying a default (m f g p) setting for everybody that would not be enough for some peopl

[2022-03-16 18:17] Sebastian-Roth commented on #464
@urtzi2 No need to douple post this in [the forums](https://forums.fogproject.org/topic/16129/how-to-print-in-black-and-white-with-a-dat-file) and as github issue.

I am not sure I understand why switching "g" (global dev mode) to "u" (per user dev mode) would make the black and white setting work?!

Sure I can see the [hard coded parameter set](https://github.com/FOGProject/fog-client/blob/master

[2022-03-18 15:57] iPaulis commented on #464
@Sebastian-Roth I don't know exactly why either, but I have tried what the original post suggests, and I can confirm that is the case.
It is worth to have a look at microsoft's official documentation for the MS-DOS command: https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/rundll32-printui

I am just speculating here, but the most obvious answer would be that some pri

[2022-03-19 14:58] cavazquez opened #465 "203 tasks does not run. 0 storage free."
Hi! i have this problem.
![Captura de pantalla de 2022-03-19 11-53-02](https://user-images.githubusercontent.com/4699299/159126218-510559dd-5eaf-488e-9216-c2c2813eb456.png)
![Captura de pantalla de 2022-03-19 11-53-27](https://user-images.githubusercontent.com/4699299/159126220-a4e6d03a-107f-46bb-8d33-ba0ba6a535a3.png)
![Captura de pantalla de 2022-03-19 11-56-45](https://user-images.githubusercon

[2022-03-19 15:41] cavazquez commented on #465
Is it possible that the cause is that the network was cut for a second?

[2022-03-19 16:33] cavazquez commented on #465
ahh getTotalSupportClients  -  Queue - Used... The fog dont support cut progress.

[2022-03-19 22:35] Sebastian-Roth commented on #462
@ChicagoJay Pushed a couple of fixes over the last weeks. You should be fine to use FOG (`dev-branch`!!) on Ubuntu 22.04 now.

[2022-03-19 22:35] #462 closed

[2022-03-19 22:47] Sebastian-Roth commented on #465
@cavazquez I am not sure I understand how this problem occurred. Did you schedule manual wake on lan tasks or is this a scheduled task setup on your FOG server?

[2022-03-20 21:40] cavazquez commented on #465
Hi! In my old job i had 120 computer and 0 problem. In my new job i have 480 and today the error occurred again

[2022-03-20 21:41] cavazquez commented on #465
IF I have 10 tasks with taskStateId=1 they are subtracted from Free Slots?

[2022-03-20 21:46] cavazquez commented on #465
It should happen if it is in 2

 2 | Checked In  | PC has checked in and is in queue for imaging                      |       2 | pause

[2022-03-23 01:33] jessegit opened #466 "[DEV-BRANCH] PHP8 named parameters cause havoc in 1.5.9.137"
Running 1.5.9.137 on ubuntu 21.10 (PHP8), creating a snapin fails.
Apache errorlog:
[code]

Cause seems to be PHP8 named parameters, especially with call_user_func_array(). (see https://php.watch/versions/8.0/named-parameters#named-params-call_user_func_array)

My workaround was to downgrade to php 7.4.

[2022-03-23 06:41] Sebastian-Roth commented on #466
@jessegit Thanks for reporting this issue. We are currently working on [PHP8 support](https://forums.fogproject.org/topic/16135/php-8-support). Will work on a fix and push that soon!

[2022-03-24 07:10] Sebastian-Roth commented on #466
@jessegit Now that I took a closer look at this I am not sure why you think this is something about `call_user_func_array()` as we don't use that in that part of the code (FOGFTP class) and hardly anywhere else.

I reworked this part to make it work with PHP 7 and 8 I hope. Would you mind testing 1.5.9.138?

[2022-03-24 21:17] jessegit commented on #466
Uhm... looking at it now, I wonder too. I did trace many problems and I might have mixed things up. But I'm pretty sure there was a probable call_user_func_array() problem, too.

I gave PHP8/1.5.9.138 a try, the snapin create seems to work now, at least for simple/default case. (It also seemed to work with PHP7/1.5.9.138 and 137).

[2022-03-24 21:17] #466 closed

[2022-03-25 04:23] jessegit opened #467 "[DEV-BRANCH] PHP7 1.5.9.138 snapins do not seem to work"
ubuntu 20.04 (PHP7), dev-branch 1.5.9.138 (and 137)

(I think) I know ~what I'm doing (worked previously for the past 5-7 years), and I've gone through the newbie mistakes (and with this, all the un/re/install, reset things, add deploy etc. things, and googled if there are any new gotchas since the last time I did imaging with fog).

Snapins do not work for me. I can add them, edit them, assign th

[2022-03-25 05:57] Sebastian-Roth commented on #467
@jessegit Anything in the apache / PHP-FPM logs on the FOG server while the fog-client queries the information?

[2022-03-25 06:05] Sebastian-Roth commented on #465
@cavazquez Can you please describe in more detail what exactly you do that is causing this problem?

[2022-03-25 20:40] cavazquez commented on #465
1.5.9 . my english skills do not allow me . maybe we should close the issues

[2022-04-03 14:36] Sebastian-Roth commented on #467
@jessegit @JRWR Figured it out and pushed a fix (FOG 1.5.9.139). Thanks for using dev-branch and reporting this issue here!!

[2022-04-03 14:36] #467 closed

[2022-04-16 16:10] Sebastian-Roth commented on #366
@astrugatch Did you get to test this yet?

[2022-04-16 16:21] Sebastian-Roth commented on #371
@Yarli Sorry for the long delay. Thanks for the detailed explanation on your setup. I am not sure how to handle this topic. On the one hand it would be easy to fix the basic issue by trying HTTPS and then HTTP URL subsequently. On the other hand I can see why you suggest adding the DB field (`fulladdress`) as it helps with your special setup just as well. With a lack of time on my end I tend to ju

[2022-04-16 16:22] #465 closed

[2022-04-16 16:23] #459 closed

[2022-04-17 11:04] Yarli commented on #371
Ok thank you. Sorry that ive not had chance to test or develop a solution yet either. Work is fairly busy at the moment and I've not had time to setup a sandbox environment to work on this. Hoping once things die down a bit i can get onto that but that might be a while.

Feel free for anyone to push out a simple solution in the mean time and ill work on a more long term solution once i get a but m

[2022-04-18 21:28] djohle opened #473 "Insecure hardcoded CORS header"
https://github.com/FOGProject/fogproject/blob/171d63724131c396029992730660497d48410842/packages/web/commons/base.inc.php#L37

To me this seems a bit insecure to hardcode the wildcard like this, despite the "more secure" comment a few lines above.  I'm thinking that not even having a ACAO header at all would be more secure than this!

Is there even a use case where one needs to access the UI resour

[2022-04-18 22:35] mastacontrola commented on #473
You’re right. I don’t know anything and I don’t know why I tried. I don’t know. And I never claimed to know. Sorry for failing it all. I won’t try anymore.

[2022-04-20 19:31] djohle commented on #473
Well that escalated quickly.  I can't tell if that was sarcasm or just total defeatism.

In any case, I was going to submit a pull request to "fix" the issue, but not knowing the intention behind the original code I figured it would be best to bring it up for discussion first to ensure what I was thinking made sense.  Also, it's just one-liner removal, so the pull request also seemed like a bit of

[2022-04-22 10:06] nishit93-hub opened #474 "Target partition is smaller than source"
Hi All,

I have an ubuntu image on the Fog server which is 490 GB. Now I trying to deploy that image to a new server that has 160 GB of HDD.

The process is getting failed because the `target partition is smaller than the source.` How Fog server helps in resizing or shrinking the image according to the target HDD size?

[2022-04-22 10:18] morganwillcock opened #475 "FOG Forum password reset not sending e-mails"
Hi,

I've been trying to recover the password on my forum account but but the reset mechanism does not seem to send any mail.

I e-mailed the publicly listed email address contact@fogproject.org but the address does not seem to be deliverable.

I am opening an issue here because I cannot find any other contact point.

Thanks,
Morgan

[2022-04-22 10:25] Yarli commented on #474
I believe, and someone correct me if im wrong here, when you create your image, you need to select a partition type which is single disk resizable. I think when fog takes the image it should reduce the partition down to the smallest size that it can without loosing data.
obviously if you have filled up the partition then you wont see any reduction in size and you can only ever clone it to a drive

[2022-04-22 10:41] nishit93-hub commented on #474
But if I use a single disk resizable, it creates an image with a size of 14G and creates the partition with the same size on the target machine, and rest of the disk space remains as free space which is not good

[2022-04-22 12:55] Quazz commented on #474
It should automatically expand the partition; though on the latest windows versions this may not happen on the default branch. Try pulling the dev-branch, update fog install and capture the image again. It should work after that.

[2022-04-23 12:13] astrugatch commented on #366
@Sebastian-Roth Unfortunately work and home have gotten busy again. I want to contribute but I don’t have the time to dedicate to setting up a test environment and I no longer manage the prod environment (moved from sysadmin to management).

[2022-04-24 06:48] Sebastian-Roth commented on #475
@morganwillcock Thanks for letting us know. I am looking into the issue and will update as soon as possible.

[2022-04-24 07:29] Sebastian-Roth commented on #474
@nishit93-hub While Quazz mentions windows here this should also be true in your case. If it still does not work using [dev-branch](https://github.com/FOGProject/fogproject/tree/dev-branch) we need more information (e.g. FOG version used, contents of `d1.partitions` from the image you try to deploy)

[2022-04-24 07:38] Sebastian-Roth commented on #473
@djohle Thanks for bringing this up!
@mastacontrola Don't worry about this. You've done fabulous work on FOG. Nobody is perfect. I'll just remove it in `dev-branch` and `working-1.6`.

[2022-04-24 07:40] #473 closed

[2022-04-27 21:18] morganwillcock commented on #475
Unfortunately it still doesn't send me a password reset e-mail.
This is my account if it that helps at all: https://forums.fogproject.org/user/morgan

[2022-04-28 04:49] Sebastian-Roth commented on #461
@ggiesen What you have there looks very promising. I am wondering if we can get this revived and merged.

[2022-04-30 13:56] Sebastian-Roth commented on #475
@morganwillcock I just manually triggered a password reset for your account. Did that arrive?

[2022-04-30 15:19] morganwillcock commented on #475
That worked. I received the e-mail and I've reset the password. I then changed the e-mail address in my account settings and it sent the verification e-mail to the new address.

So possibly the problem is only with a user initiating a reset of their own password?

[2022-05-01 14:14] Sebastian-Roth commented on #475
I did test resetting the password of my own account and it worked just fine. Closing this for now.

[2022-05-01 14:14] #475 closed

[2022-05-01 18:01] #337 closed

[2022-05-16 06:04] nishit93-hub commented on #474
@Yarli which partition type did you use with Partclone GZip? I tried with `partition type` as a single disk and `partition type` as Partclone GZip but had same issue.

[2022-05-16 06:06] nishit93-hub commented on #474
I tried with dev-branch also but had same issue

[2022-05-17 17:49] Yarli commented on #474
I chose "single disk resizable" i believe. Its the only one resizable option. All the others were not resizable if memory serves me correctly.

[2022-05-18 03:48] nishit93-hub commented on #474
@Yarli

OK, but it didn't work for me. It still creates the disk space same as the image size i.e. 14G

[2022-05-22 13:10] djagoo opened #483 "Fatal error: Uncaught Error: Call to undefined function _() in /var/www/fog/commons/init.php:439"
After changing to dev-branch for updating on Ubuntu 20.04 LTS with php8.1 installed I get this error:

[code]

As far as I checked, all necessary extensions are installed and activated.

A search for "function _()" pointed me in the direction of some errors related to gettext but gettext is installed and activated too.

[2022-05-26 15:01] Sebastian-Roth commented on #483
@djagoo Sure you mean Ubuntu 20.04 not 22.04? Just asking because PHP 8.1 is default in 22.04 while Ubuntu 20.04 came with PHP 7.4. Manually switching PHP versions can cause any kind of trouble.

Have you made sure php8.1-gettext is installed?

[2022-05-28 08:28] djagoo commented on #483
@Sebastian-Roth Of course, you're right, its Ubuntu 22.04. There is no php8.1-gettext in the repos. Gettext is in the php8.1-common which is installed and gettext is activated in the php.ini. phpinfo() is showing gettext as activated.

Additionally I installed php-php-gettext but this didn't help either.

[2022-06-11 20:55] Paulie420 opened #484 "Install failing on Debian, php-gettext"
The installer script fails at what I think is the very end;

-----
 * Updating packages as needed.................................OK
 * Installing now everything is updated........................Failed!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! The installer was not able to run all the way to the end as   !!
!! something has caused it to fail. The following few lines

[2022-06-12 14:20] Sebastian-Roth commented on #484
@Paulie420 With current Debian you need to use the latest [dev-branch](https://github.com/FOGProject/fogproject/archive/refs/heads/dev-branch.zip) version of FOG.

[2022-06-12 14:20] #484 closed

[2022-06-29 13:42] olahouze opened #485 "[BUG] - read ERROR: No such file or directory"
Hello

### BUG :
I had a problem when deploying an image with the FOG

Error message :
[code]

For me, it was a problem of user rights on the FOG

Before :
`drwxrwxrwx. 2 root root 190 Jun 29 15:07 <image>`

After:
`drwxrwxrwx. 2 fogproject root 190 Jun 29 15:07 <image>`

I had to do a "chown" on my image folder in the **/images** directory to add the owner to **"fogproject"**

When creating a new

[2022-07-12 07:30] TheBigBear opened #486 "I guess this really 'cool' project is now dead?"
Looking at the activity here and the age of the last release and all, I guess this has run its course and has been abandoned? Or is it still used and serving it's purpose without needing new releases?

[2022-07-12 07:35] Yarli commented on #486
No its still very active. A lot of people here have recently been working on a new beta release too.

[2022-07-12 16:27] Yarli commented on #486
I would try to avoid using the dev branch for production and wait for an official stable release. Going by the work being done by the good guys here, I would say one is imminent but I could not tell you when.

The developers will be constantly working on and submitting to the dev branch therefore there could be issues within it until they are fully tested. I run 2 environments at work, my producti

[2022-07-26 13:34] Piotr86PL opened #487 ""Chainloading Failed" Error when using EXIT method for drive boot"
Hello!

I've encountered an issue - "EXIT" method in FOG PXE Menu is not correctly working. It is an issue which I further described on FOG Forums [here](https://forums.fogproject.org/topic/16375/chainloading-failed-when-using-exit-method-for-drive-boot), but I decided to write it here for better tracking of the issue (A forum post can easily get lost among other posts). To sumarize everything sai

[2022-08-15 18:36] Sebastian-Roth commented on #487
Thanks for bringing it up and also sending in the  pull request #489 as well as testing things.

[2022-08-15 18:36] #487 closed

[2022-08-17 10:29] Magelfik opened #491 "Refactor the web interface"
I see this project is using "raw" PHP.

Would it be interesting to rewrite the web UI so that it uses a framework (Symfony/Laravel or so) so that it becomes "more standard" ?

I'm asking this question because we're currently using Fog but we feel it has a few missing features. I would be happy to add them, but only if I can use a framework that is compatible with Fog.

Thanks in advance for your a

[2022-08-17 11:43] olahouze commented on #485
Hi

Could you take care of the ticket ?

best regards

[2022-08-17 16:05] Sebastian-Roth commented on #491
@Magelfik The project development has slowed down over the last two years as people have less time.

While moving to a framework sounds interesting for several reasons it's probably going to be a big challenge with the very limited development being done at the moment.

It's up to you to get involved and push things forward if you like.

[2022-08-17 16:16] Sebastian-Roth commented on #485
@olahouze The permissions as posted above (`drwxrwxrwx.`) cannot cause the problem described because the directory was accessible (and writable) for any user (all access for anyone) - see [Linux permissions](https://linuxcommand.org/lc3_lts0090.php).

The "No such file or directory" message is kind of misleading because the d1p2.img file is being piped through a decompression command instead of be

[2022-08-17 16:24] Sebastian-Roth commented on #486
@TheBigBear Open source projects can only be alive with people working on it as well as using it. Many people use or wanna use FOG but hardly any one takes on the development. You are most welcome to join the forces.

By the way, a fair amount of people use `dev branch` - currently all version numbers in the form of 1.5.9.**X** - see https://fog-external-reporting-results.fogproject.us/

[2022-08-17 16:24] #486 closed

[2022-08-17 21:16] George1422 commented on #491
That has been actually one of my wants for a while now. Understand I have no control over the direction of the project but using a standard web ui framework would be ideal for maintaining it. As Sebastian said with the limited developer resources the project has at the moment it would be difficult. Other thoughts I had (as a Moderator) would be to decouple the API from the Web UI and have the Web

[2022-08-17 21:20] Magelfik commented on #491
I do not currently have much time at my disposal, but I would be very happy to give it a try. This would make the installation step quite more complex, but it would push the web part to today’s standards.

I was thinking of a self consuming API, indeed. This is quite easy to do. I will begin to scan the code and port it to Laravel.

[2022-08-17 23:00] George1422 commented on #491
When I had a bit more ambition I was looking at laravel as the web platform to create a supervisor FOG server that could manage multiple individual fog servers from a single console. But I got in over my head and skill level so I decided to keep the remaining hairs on my head and focus my efforts in other directions. If you have the time, the entire fog community would appreciate the efforts in mo

[2022-08-26 14:45] cosmicvibes commented on #491
Time is always an issue, but the thoughts I read here are ones that have been rattling in my head for a while now. While I would not consider myself an  "expert" - I have written and maintain a number of internal Laravel projects so would be willing to look at least lending a supporting role here, if we can come up with an action plan.

[2022-09-17 17:11] #485 closed

[2022-09-17 17:37] Sebastian-Roth commented on #483
@djagoo Somehow lost track of this. Did you get this solved or is it still an issue?

[2022-09-20 16:12] jetbalsa opened #493 "List Host Route throwing 500 - Missing Function get"
Using Dev-Master, New Install on Debian 11, PHP 7.4.30

[code]

[2022-09-21 12:06] jetbalsa commented on #491
Its one of the few things people don't think about is long term support. @Sebastian-Roth looks to be the main code contributor these last few months. Do not take a Laravel rewrite lightly. If the code maintainers cannot easily use Laravel and doesn't have the cycles to sit down and learn it. Someone will need to do long term support on it. Its a major commitment and should not be taken lightly.

S

[2022-09-21 19:20] Magelfik commented on #491
You're not ! I appreciate your honesty and I though about it as well.

Plus, laravel's not easy to install as it is currently. I am not sure, but
perhaps a rewrite isn't the way to go...

Le mer. 21 sept. 2022 à 14:06, Forrest Fuqua ***@***.***> a
écrit :

[2022-09-21 20:43] Sebastian-Roth commented on #483
@djagoo Going to close this topic now as I have tested on Ubuntu 22.04 lately and did not run into this at all. Please feel free to re-open in case you still have the same issue.

While it does not solve the exact issue you reported you might still be interested to read this topic in case switching the FOG web UI to another language doesn't work for you: https://forums.fogproject.org/topic/16466/c

[2022-09-21 20:43] #483 closed

[2022-09-21 20:50] Sebastian-Roth commented on #491
@jetbalsa You have a good point there. I totally agree with long term support being a major issue. I keep on hoping that people get more involved in developing but it's not happening so far. You are all very welcome!

@Magelfik Should we keep this topic open?

[2022-09-21 21:08] Magelfik commented on #491
Perhaps closing it for the time being is better.

I will open a new one if new ideas come up :-)

Thanks !

Le mer. 21 sept. 2022 à 22:50, Sebastian-Roth ***@***.***> a
écrit :

[2022-09-21 22:05] Sebastian-Roth commented on #493
@jetbalsa said:

I suppose you mean dev-branch. Looking at the code lines posted I can confirm but just wanna make sure.

I have tried to replicate the issue along the stack trace posted but I am not able to. I find this very strange because in [line 1259 in route.class.php](https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/lib/router/route.class.php#L1259) it tries to access t

[2022-09-21 22:06] #491 closed

[2022-09-21 22:08] Sebastian-Roth commented on #474
@nishit93-hub Is this still an issue?

[2022-09-21 22:12] Sebastian-Roth commented on #461
@ggiesen Any news on this. I somehow lost track of this and I wonder if your PR is ready to be merged into the official dev-branch?

[2022-09-22 01:33] jetbalsa commented on #493
Semi Fresh Install, had about 30 hosts into quickdeployed into the database, all where in one group with one image

I fellback to Stable on Ubuntu 20.04 to get a install going. And yes, it was devbranch

Anything that tried to view the hosts table would just bail, Group hosts lists and Main Host lists would throw 500s

[2022-09-24 03:14] ggiesen commented on #461
Sorry, I've been pulled in a bunch of different directions at work since I did this and haven't used FOG much since then. I expect it'll probably be at least a couple months before I get back to this.

[2022-09-24 17:18] Sebastian-Roth commented on #493
@jetbalsa Did you wipe the server that had that issue or is it still around. I still can't reproduce the issue as described and think it's not a general problem.

[2022-09-30 08:12] brnnrc opened #495 "[dev branch] multicast job end does not clean Active Multicast Tasks entry"
Version 1.5.9.174 (1 server and 4 master storage node)

when a multicast job ends, the entry in Active Multi-cast Tasks web page doesn't go away (sticks to "In progress" status).
The job seems correctly accomplished. The multicast.log.unpcast.xx log is deleted.

I can remove the task manually indeed.

No other side effect noticed.
thanks for you efforts
Enrico

[2022-09-30 08:32] Sebastian-Roth commented on #495
@brnnrc Thanks for using dev-branch and reporting this issue. I can imagine an issue with PHP 8.

Please send in some more details. Which Linux OS and Version do you use? Also check Apache and PHP-FPM logs on the server so see if we have some obvious error message pointing us the right way.

[2022-09-30 09:23] brnnrc commented on #495
Hi, thanks for your reply.
linux is debian 11, php 7.4.30 . No relevant info from Apache and PHP-FPM logs. I suppose the storage node is not sending out the "end of job" to db (?).
Let me know how to dig.

[2022-09-30 10:40] Sebastian-Roth commented on #495
@brnnrc said:

Now that I read this again I am not sure what you mean by that. Can you please tell us more about your exact setup? Nodes are usually either a *normal* node (hosting the DB) or a *storage* node (connecting to a DB on a normal node). Though you could also create storage nodes and make those to be the master within their own storage group. Probably best if you can post a picture of th

[2022-09-30 11:14] Sebastian-Roth commented on #495
@brnnrc Another question arises. Do you follow the multicast task on the client screens? Right at the end it should print a line "Updating Database ....". Does this succeed or fail?

[2022-09-30 11:24] brnnrc commented on #495
sorry for the misunderstanding,
my setup is pretty simple:
1 _normal_ node and 4 _storage_ nodes (they are master of their own storage group (they are alone in own group)).
all storage node are in different subnetworks and they can reach the normal node (and the db too).
The same structure works (and the multicast task vanish when completed) on fog-project 1.5.4...
I don't use the location plugin.

[2022-09-30 12:38] Sebastian-Roth commented on #495
@brnnrc I can seem to replicate the issue so far. Setup as described and when the test clients finish both the active tasks and the multicast task disappear. Though this is a very small test setup using two VMs. Not sure if there is a timing race condition causing this in your case.

Please run `journalctl -u FOGMulticastManager.service -b` on the storage node used and post full output here.

[2022-10-03 12:20] danboid opened #496 "Add support for specifying a max wait time to start multicast tasks after"
As discussed here:

https://forums.fogproject.org/topic/16528/removing-macs-from-multicast-task-without-starting-over/6

It would be handy if FOG let the user specify a `--max-wait` setting for udp-sender when creating a multicast task so that the task would start after a specified delay regardless of whether or not all of the specified hosts had successfully booted into FOG to join the task. This

[2022-10-03 19:37] danboid commented on #496
Seems this is already implemented.

[2022-10-03 19:37] #496 closed

[2022-10-04 09:10] brnnrc commented on #495
Hi, after you test on vm (I had to made myself, sorry), I tried on another
group and it works. So, I'm going to check the "failing" group.
I'll give news on next week.
Thanks for your time

Enrico

Il giorno ven 30 set 2022 alle ore 14:38 Sebastian-Roth <
***@***.***> ha scritto:

[2022-10-04 16:38] Sebastian-Roth commented on #493
@jetbalsa Did you get to look into this again? Should we keep the issue open?

[2022-10-06 08:22] spychodelics commented on #356
Hi there,
i deploy the images with chocolatey preinstalled in the golden image and manage my deployed clients afterwards with puppet bolt.

https://puppet.com/docs/bolt/latest/bolt.html

https://ospassist.puppet.com/hc/en-us/articles/360040849894-Deploy-packages-across-your-Windows-estate-with-Bolt-and-Chocolatey-

[2022-10-06 11:11] brnnrc commented on #495
big shame on me!
I forgot tu upgrade the "failing" storage node fog version from 1.5.9.1**5**4 to 1.5.9.1**7**4. The normal node and 2 working storage nodes are on  1.5.9.1**7**4... Upgraded the missing node... Problem solved.
My best apologies!
Enrico

[2022-10-06 11:12] brnnrc commented on #495
closed

[2022-10-06 11:12] #495 closed

[2022-10-06 11:53] Sebastian-Roth commented on #495
@brnnrc Thanks for clearing up what was causing the issue. Though I am still wondering what change we had between 1.5.9.154 and 1.5.9.174 that could cause this behavior. Anyway, great this is solved.

[2022-10-07 12:37] Sebastian-Roth opened #497 "Change log file creation of FOG services"
Currently all services simply delete the current log file and start from scratch when services are restarted (e.g. [1](https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/lib/service/snapinreplicator.class.php#L77), [2](https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/lib/service/imagereplicator.class.php#L77), ...). This behavior is not great because informa

[2022-10-07 15:19] adamreed90 opened #498 "Could not find /etc/php/7.2/fpm/php.ini!"
**When attempting to upgrade my FOG, on dev-branch.**

**Error:**
Could not find /etc/php/7.2/fpm/php.ini!

![image](https://user-images.githubusercontent.com/16042069/194589391-6c9025f6-b802-4236-9a2d-fec8d1a1162b.png)

**Log Files:**
[foginstall.log](https://github.com/FOGProject/fogproject/files/9735136/foginstall.log)
[tGoo-.log](https://github.com/FOGProject/fogproject/files/9735137/tGoo-.log

[2022-10-08 06:57] Sebastian-Roth commented on #498
@adamreed90 This should be fixed with commit c5fdea5c. Thanks for reporting.

[2022-10-10 18:34] Piotr86PL opened #499 "TaskTypeEdit plugin, damages records in the database and more"
I have the TaskTypeEdit plugin running at my site, which I use to edit existing task types. I have noticed two problems with its operation.

Firstly, when editing or adding a task, there is a problem with the Is Advanced option. If it is checked then normally in the database the ttIsAdvanced attribute for the task type, is set to '1' and the task normally displays in the advanced task list. But wh

[2022-10-10 20:53] Sebastian-Roth commented on #499
I can imagine this being a PHP 8 issue. Do you see any warnings, errors or exceptions in the Apache or PHP-FPM logs?

It's hard enough to maintain the FOG core code and plugins do get even less attention. But I will try to look into this and see if I can fix this plugin.

[2022-10-10 21:03] #498 closed

[2022-10-11 10:46] kenshirouhl commented on #424
Hi, is there any update on this issue? We have been using the 1.6 version for a over a year now and this is the only part which is holding it back.

[2022-10-12 15:55] Piotr86PL commented on #499
The strange thing is that PHP does not return any errors. And there are none in the Apache logs either.

[2022-10-12 19:48] Sebastian-Roth commented on #493
@jetbalsa Will close this issue now as we don't have any further evidence this is a general code issue. Please let us know if you run into this again and we'll investigate further.

[2022-10-12 19:48] #493 closed

[2022-10-13 15:23] adamreed90 commented on #498
Thank you this solved it! 👍

[2022-10-14 02:05] cavazquez opened #501 "Change how the client mounts the nfs server to allow nfs4"
If the client mounts / instead of /images it allows to use nfs 4.2 because /images has fsid is 0
![Captura de pantalla de 2022-10-13 23-04-12](https://user-images.githubusercontent.com/4699299/195745235-a679ecae-3ca2-46e5-8327-e07997408256.png)

[2022-10-15 11:12] Piotr86PL opened #502 "Using the -U parameter with installfog.sh breaks the installation"
I tried reinstalling FOG on a test VM. For this, I used the -U parameter to not read the configuration from /opt/fog/.fogsettings (I wanted to change some options). However, it turned out that using this parameter breaks the whole installation because it sets the webroot to "/" instead of "/fog/", so PXE doesn't work, and also the installer itself has problems with the installation (as shown in th

[2022-10-15 14:30] Sebastian-Roth commented on #502
Thanks for reporting. As far as I know this is not the only installer option which doesn't work as intended. Very few people use the options and so we hardly ever find out. There are some logic quirks in the installer and `webroot` is definitely one of them.

Hmm, looks like `webroot` set to a default [in installfog.sh line 444](https://github.com/FOGProject/fogproject/blob/dev-branch/bin/installf

[2022-10-15 14:41] Sebastian-Roth commented on #501
@cavazquez Can you please explain in more detail why this should be done and where exactly.

There is a feature request on [switching to NFSv4 in the forums](https://forums.fogproject.org/topic/14791/feature-request-for-fog-1-6-x-configure-image-capture-to-use-nfsv4-instead-of-nfsv3) but no one has worked on this for more than a year.

If you are keen to make a move to NFSv4 you are more than welc

[2022-10-16 11:42] Piotr86PL commented on #502
I also think it is better to simplify it. When upgrading, just load the `webroot` from the .fogsettings file, and in any other case leave the default "/fog/". Unless the user used the -W parameter to specify the `webroot` themselves (however, when upgrading, this parameter should be ignored - we rather not want to change the `webroot` when upgrading).

[2022-10-21 11:04] Neustradamus opened #506 "New version?"
Dear @FOGProject team,

There are several PRs, it is possible to have a new release build?

Thanks in advance.

Regards.

[2022-10-22 18:52] Sebastian-Roth commented on #506
@Neustradamus There has been a discussion on this in the forums lately: https://forums.fogproject.org/topic/16507/release-of-new-fog-version

You are more than welcome to help test FOG to make it ready for a next release. This is a community driven project and it needs people to help on getting things done.

[2022-10-23 13:14] z11k commented on #506
i see mentioned on this git dev-branch alvays. I encounter multiple issues, but consider that previosly released version:

Version 1.6.0-alpha.1161

it is named alfa but even i testing shortly it is in MUCH better state then devel, if you have elan publish new version, give it try.

[2022-10-23 15:14] Sebastian-Roth commented on #506
@z11k said:

You are more than welcome to report any issue you find with `dev-branch` on GitHub or in the forums. This is how a community driven project like FOG works. People use it, report problems and hopefully someone will find the time to fix those.

It's your choice to use whatever you want. While the 1.6.0-alpha.X version (also named `working-1.6`) was in a good state roughly one and a half

[2022-10-23 16:24] Sebastian-Roth opened #507 "Stripped kernel version information in FOG reporting"
Some systems seem to report shorter kernel version strings than others, e.g.
[code]
vs.
[code]

Although those are the exact same kernel binaries those are reported as being two different ones.

[2022-10-23 16:42] Sebastian-Roth commented on #507
Taking a closer look at the database data I found that CentOS 7 as well as Ubuntu 16.04 systems return a stripped version string.

These are the options we have:
* Use different command to get the version information like `strings filename | grep ...` ([1](https://stackoverflow.com/a/36889965))
* Compile our own tool to get the version ([2](https://stackoverflow.com/a/11179559)) - FOG installs gcc

[2022-10-23 19:10] Neustradamus commented on #506
Thanks for your reply!

It is not possible to use "master" branch for up-to-date code?

It will be better to have new improvements, new PR from community...

[2022-10-24 18:16] Sebastian-Roth commented on #506
@Neustradamus You can send in PR on branches other than `master`. So I don't understand why it would be better?

Anyway, you are more than welcome to get involved and help improve things.

[2022-10-24 18:16] #506 closed

[2022-10-25 06:21] Neustradamus commented on #506
@Sebastian-Roth: I know but continuous code in master is really better...

[2022-10-27 14:43] Yandaho opened #508 "Postinstall scripts"
Hello !

I have a Fog, and i want to do some actions with the postinstall scripts. I tried many times, but when the clon is finished, there is no scripts appear to be in use.
Can someone have a solution, or just some tips ?

Thanks !

PS : Sorry for my bad english :/

[2022-10-27 22:22] George1422 commented on #508
If you look in the fog forum, in the tutorial section you will see how to activate a post install script: https://forums.fogproject.org/topic/11126/using-fog-postinstall-scripts-for-windows-driver-injection-2017-ed  Understand this one is for windows and specifically for copying over drivers to the target computer during the post install script action. The important points for you is to look how t

[2022-10-27 23:25] kibade commented on #436
This is the exact same issue I'm seeing today on Debian Bullseye and fog 1.5.9. What was the fix?

[2022-10-28 16:46] #501 closed

[2022-10-28 17:15] Sebastian-Roth commented on #436
@kibade The current fix is to use FOG [dev-branch](https://github.com/FOGProject/fogproject/archive/refs/heads/dev-branch.zip).

[2022-10-28 17:35] Sebastian-Roth commented on #435
@bristow Sorry for the really long delay...!

Finally took a look at this and found that those particular translations are phrased in a general meaning to be used to "hosts", "images" etc. - see here: https://github.com/FOGProject/fogproject/blob/dev-branch/packages/web/management/languages/fr_FR.UTF-8/LC_MESSAGES/messages.po#L851

If we want to change those translations it would need changes in t

[2022-10-28 17:42] bristow commented on #435
I did the longest so yes I can help with the rest.

[2022-10-29 10:49] Sebastian-Roth commented on #499
@Piotr86PL Found and fixed in FOG 1.5.9.204 (latest dev-branch).

[2022-10-29 10:50] #499 closed

[2022-11-01 02:47] wayneworkman commented on #507
I think the simplest would be the 3rd option, to strip down the information even more. Every single one is returning a `#` immediately after the information we want, so that can be a delimiter.

[2022-11-01 03:35] wayneworkman opened #510 "Debian Bullseye installs DHCP packages when "no" is given for DHCP"
See this forum thread for details: https://forums.fogproject.org/topic/16565/installing-1-5-9-on-debian-bullseye-fails/2

When using dev-branch on Debian Bullseye, you say "no" for setting up DHCP, the installation script still installs the DHCP packages but does not configure or enable a DHCP server.

The bug is that the DHCP packages are installed but should not be.

[2022-11-01 03:51] wayneworkman commented on #506
@Neustradamus master is stable code. dev-branch is for code that is in-flight and perhaps not stable. You are welcome to be a tester, and report issues here or in the community forums.

[2022-11-02 16:29] Sebastian-Roth commented on #510
I am pretty sure it has been like that for a long time. Not specific to Debian but on all distros and versions I reckon.

The very same is true for other packages on storage nodes (e.g. mariadb/mysql, FOGImageReplication service installed and activated by default).

So I am wondering if it's worth adding more logic to the installer script to prevent from installing dhcpd?

[2022-11-02 16:35] Sebastian-Roth commented on #507
@wayneworkman's PRs merged, thanks.

[2022-11-02 16:37] Sebastian-Roth commented on #508
@Yandaho Please let us know if you need further assistance. Can we close the issue report otherwise?

[2022-11-05 13:08] Sebastian-Roth commented on #507
@wayneworkman I am now wondering if we should even leave out the prepended filename of the binary. Essentially we want the kernel version and it doesn't matter if it's a 32 or 64 bit kernel I think. What's your opinion on this?

[2022-11-05 15:59] Piotr86PL opened #512 "PHP Warning for host.class.php script"
Maybe not a serious error but it would be worth correcting. If more than 1 MAC address is assigned to a Host, the following warning appears in the PHP log:

`[05-Nov-2022 15:55:17 UTC] PHP Warning:  Host::{closure}(): Argument #1 ($mac) must be passed by reference, value given in /var/www/html/fog/lib/fog/host.class.php on line 172`

[2022-11-05 18:47] wayneworkman commented on #507
Originally we included the filenames so we could distinguish 32 from 64. We can take out the filename too, if that is your preference. I'll submit PRs.

[2022-11-06 15:35] Sebastian-Roth commented on #507
@wayneworkman I have thought about it for a bit more and still can't see why we should need to know if it's a 32 vs. 64 bit kernel. We always release both at the same time and so there should never be a difference in how those are configured.

Thanks for the new PRs!

[2022-11-06 15:35] #507 closed

[2022-11-06 17:24] Sebastian-Roth commented on #512
@Piotr86PL Thanks, this is fixed in 1.5.9.219...

[2022-11-06 17:24] #512 closed

[2022-11-07 13:35] abulhol opened #515 "Fix memory issues due to imagingLog and other logs"
We have been using FOG for many years. We are now on the dev-branch on Ubuntu 22.04, and still see issues like these:
[code]
We usually follow the advice from the various forum posts, e.g. [1] and truncate the tables to make the pages functional again.
We even think about adding a cronjob for this now to avoid the hassle.

It would be very helpful if this could be fixed in the FOG web app itself.

[2022-11-14 09:28] Yandaho commented on #508
I don't have any time actually for test this but i will look about that, in this week and tell you if it's good ! Thanks a lot

[2022-11-14 16:36] Godoy21 opened #516 "Either DHCP failled or we were unable to access https://192.168.0.106/fog//index php for connection testing"
Hello, I have an error when restoring or inventorying a host. I can boot normally and even enter the FOG Project screen but if I try to deploy or restore an image it gives me this error.

Either DHCP failled or we were unable to access https://192.168.0.106/fog//index
php for connection testing.
udhcpc started v1.31.1
udhcpc sending discover
udhcpc sending discover
udhcpc sending discover
udhcpc n

[2022-11-14 16:57] George1422 commented on #516
Upgrade your FOS Linux kernel to 5.15.x first. If that doesn't work and you still get the same results we can debug more. From the FOG UI->FOG Configuration->Kernel update

Also knowing the hardware (computer) if it doesn't work will help too.

[2022-11-14 18:10] Godoy21 commented on #516
I did the process as you said but it was not successful. I've tested it on different hardware, both desktop and notebook.
For example in notebooks
Dell Vostro 3510
Dell Vostro 3500
Desktop
Dell Optplex 390
Dell Optplex 380

[2022-11-14 20:27] George1422 commented on #516
I have a feeling that the fos linux kernel didn't get updated for some reason. From the FOG server linux console key in
file /var/www/html/fog/service/ipxe/bzImage
It should report the linux kernel version. All of the systems you mentioned should work with 5.15.x series kernel. They will not work with the 4.19.x series kernels.

Just looking again, the 390 and 380 are really old hardware (I first

[2022-11-14 20:28] Sebastian-Roth commented on #516
@Godoy21 Is 192.168.0.106 your FOG server IP?

In the picture we see it actually say "no lease, failing". So I would think it's not a driver issue. On the other hand it's strange because to get to that point means the machine PXE booted and got an IP via DHCP two times in a row already (BIOS/UEFI and iPXE).

[2022-11-14 22:50] bence98 opened #517 "[Feature req] Support F2FS"
I installed Linux to an NVMe drive, and I heard that EXT4 is not great for flash-based media, so I chose to use F2FS as my root partition instead. Now I can't image it with FOG, as it fails with "No resizable partitions found".
Using FOG 1.5.9, FOS kernel 5.15.68 on amd64 arch.

[2022-11-15 00:06] George1422 commented on #517
FOG uses partclone for imaging (same as clonezilla) so FOG is limited to supported operating systems as Partclone supports. https://partclone.org/usage/partclone.php#:~:text=Partclone%20supported%20file%20system%20include,)%20and%20MINIX(MINIX3).  Beyond that FOG does not supported all of the filesystems that partclone supports either. Your only hope for cloning these unsupported file systems with

[2022-11-15 07:51] bence98 commented on #517
It is possible to copy the partition with Partclone.image, when I edited out the check for NTFS or EXT4 partitions being present from the `fog.upload` script, it uploaded fine. However, a proper F2FS support would be better (`resize.f2fs` etc.)

[2022-11-15 13:33] Quazz commented on #517
@bence98 Can you create an issue at https://github.com/FOGProject/fos ? That's the boot environment OS for FOG, this one is for the WebGUI.

[2022-11-15 21:33] Sebastian-Roth commented on #517
Closing this in favour of the newly opened request in the fos repo, thanks.

[2022-11-15 21:33] #517 closed

[2022-11-16 14:36] Godoy21 commented on #516
![image](https://user-images.githubusercontent.com/91966151/202207447-216bd16f-4f8a-4553-81b4-3f2a5a7fb093.png)
Actually checking the way you sent me, it's in version 4.19. I performed the update on the web page and it appeared that it had been a success. How can I be updating via the linux console?

I'm using Fog in version 1.5.9.

I believe that HTTPS was activated during the installation becaus

[2022-11-16 14:39] Godoy21 commented on #516
Yes, it recognizes the ipxe, it even arrives at the FOG menu in Deploy, it authenticates me in fog and shows the images that it has on the server. But when running the task it gives this error.

[2022-11-17 11:11] Godoy21 commented on #516
I did the whole process he successfully updated the kernel but it still wasn't. I will try to reinstall fog now on Ubuntu 20 to see

I did the whole process he successfully updated the kernel but it still wasn't. I will try to reinstall fog now on Ubuntu 20 to see

[2022-11-17 13:21] Godoy21 commented on #516
![WhatsApp Image 2022-11-17 at 10 19 38](https://user-images.githubusercontent.com/91966151/202457392-13f1a64f-2f9b-4caf-9a52-818b9cd8a40f.jpeg)

Same mistake.
Could it be because of php-gettext?

[2022-11-17 13:22] Godoy21 commented on #516
![image](https://user-images.githubusercontent.com/91966151/202457684-cdea4e9a-2e58-4368-a350-c5df34b8877e.png)

[2022-11-17 14:50] George1422 commented on #516
OK I want you to switch over to the Dev branch of FOG 1.5.9.110 or later.
Change into the local git repo on you fog server. Then issue:
git checkout dev-branch
git pull
cd bin
./installfog.sh

Then install the dev branch that has fixes for the gettext issue. You will need to redownload the latest FOS Linux kernel once again. FOG Web ui->Fog Configuration->Kernel update

If that still doesn't fix t

[2022-11-17 14:51] George1422 commented on #516
Just as an after thought (and thinking about Sebastian's post). If you plug an already configured windows computer into the same network jack as the one from the error message, do you get an IP address on that windows computer?

[2022-11-18 12:57] Godoy21 commented on #516
I did several tests and made no progress. I'm thinking that the problem could be my MPLS. because here at the factory we have 3 poles that are connected by MPLS and the Fog VM is in a different plant from the PFSense VM (DHCP)

[2022-11-20 12:44] Sebastian-Roth commented on #516
@Godoy21 While we can't be sure I kind of doubt the MPLS is causing the problem described here. As I said before: to get to this stage the client successfully got an IP via DHCP twice before. So why should the MPLS mess with the third round of DHCP?

On the other hand this doesn't help you. I suggest you look into capturing the DHCP traffic. The easiest step is using [pfSense to capture the traffi

[2022-11-28 10:30] JlnWntr opened #518 "FOG reads wrong MAC address"
If you are using a Dell Docking Station with a Dell Latitude 7430, FOG and iPXE retrieve two different MACs. At startup iPXE reads the correct (passthrough) MAC of the Latitude:
![Screenshot 2022-11-28 112211](https://user-images.githubusercontent.com/10480293/204254020-ed9657ea-140d-4bfb-a310-22df3e49da85.png)

But FOG reads the Docking Station's MAC:
![Screenshot 2022-11-28 112241](https://user-

[2022-11-28 16:55] Sebastian-Roth commented on #518
@JlnWntr FOG uses the Linux kernel. Please boot up any kind of Linux live OS to see if you get the passthrough MAC showing up. Best if you can try different ones to see if it makes a difference.

[2022-11-29 10:58] Magelfik opened #521 "Add the ability to set the max-wait globally for all partitions"
Hi there,

We've had problems with multicast since we deployed fog. I believe I finally found the problem :

https://github.com/Magelfik/fogproject/edit/master/packages/web/lib/service/multicasttask.class.php#L659

The timeout is currently only applied for the first partition and then it defaults to 10 secondes. We have images where 10 seconds is not sufficient (probably because of size), and sync

[2022-11-30 08:01] JlnWntr commented on #518
I tested this with Ubuntu 22.04.1 and it works. I get the correct MACs, depending on the passthrough-option.

[2022-11-30 22:34] Sebastian-Roth commented on #521
@Magelfik I remember times when FOS used to wait the same amount of time at the start and in between each partition. Back then I was fed up with waiting and asked the developers to change it to wait 10 seconds between partitions. Can't find the forum topic anymore.

We should definitely change this value if it's causing problems.

[2022-11-30 22:41] Sebastian-Roth commented on #521
@George1422 @wayneworkman I'd appreciate a comment from your side on this as well. Usually the wait time between partitions does not play a role if all machines catch up with the multicast session. But if one drops out the wait time between partitions will be way longer (10 **minutes** by default but can be configured in FOG Settings in the web UI).

[2022-11-30 22:56] Sebastian-Roth commented on #518
@JlnWntr Well that's a good start. Please run the following command on Ubuntu live and post the fill output (or a picture) here:

[code]

[2022-11-30 22:57] Sebastian-Roth commented on #516
@Godoy21 Anything we can still help you with?

[2022-11-30 23:01] Magelfik commented on #521
What I’ve seen from the source code is that it’s 10 seconds, not minutes. Fog accepts minutes, and then converts them into seconds by a simple * 60.
However the time between partitions is hardcoded to 10, not minutes but seconds (the *60 is not applied). Perhaps I misunderstood ?

I am up for anything. Right now we’ve removed the ternary operator and multicast works fine. But I understand waiting

[2022-11-30 23:38] Sebastian-Roth commented on #521
@Magelfik said:

I did a double post. Please re-read my answers and I am sure you understand why I said something about 10 minutes to  be the default even between partitions (that was in the past...).